﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
/* carousel */
.item {
    width: 100%;
    height: 450px;
}

/* homepage bid */
.logo-link {
    width: 100px;
    height: 100px;
}


/*footer*/
.footerkolagi {
    background-color : #222222 !important;
    color: white;
}

/* JUMBOTRON */
.jumbotron {
    padding: 1rem;
    border-radius: 0;
}

/*bid homepage*/
.welcome {
    width: 75%;
    margin: 0 auto;
    padding-top: 1rem;
}

    .welcome hr {
        border-top: 2px solid #b4b4b4;
        width: 95%;
        margin-top: .3rem;
        margin-bottom: 1rem;
    }

.btn-default {
    margin-bottom: 2rem;
}

.logo {
    display: block;
    max-width: 100%;
    height: auto;
}

.btn-info {
    background-color: red;
}

 /*footer social media */
.social a {
    font-size: 3.0em;
    padding: 3rem;
}

.fa-facebook {
    color: #3b5998;
}

.fa-twitter {
    color: #00aced;
}

.fa-google-plus-g {
    color: #dd4b39;
}

.fa-instagram {
    color: #517fa4;
}

.fa-youtube {
    color: #bb0000;
}

    .fa-facebook:hover,
    .fa-twitter:hover,
    .fa-google-plus-g:hover,
    .fa-instagram:hover,
    .fa-youtube:hover {
        color: #d5d5d5;
    }

/*--media queries --*/
@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
}



/*--bootstrap padding fix --*/
[class*="col-"] {
    padding: 1rem;
}

/* regional map */
.lake {
    width: 100%;
    height: 450px;
    padding-bottom: 2rem;
}

#mapofdivision {
    position: absolute;
    left: 0;
    top: 37%;
    width: 100%;
    text-align: center;
}

#mapofdivision {
    font-family: monospace;
    font-stretch: ;
}

#container {
    padding: 1em 5em;
}

ul {
    list-style: none;
    padding: 1em 5em;
}

img.division-map:hover !important{
    background: #92bde7;
    color: #fff;
    outline: 0;
}


img.division-map {
    height: 10%;
    width: 10%;
}

    img.division-map:hover {
        -ms-transform: scale(5); /* IE 9 */
        -webkit-transform: scale(5); /* Safari 3-8 */
        transform: scale(5);
    }




/*How to Bid CSS */

.img-fluid {
    max-width: 100%;
    height: auto;
}


/* FAQs */
#page-container {
    padding-top: 5rem;
}

.paraQues {
    font-family: Consolas;
    font-size: 24px;
    font-style: oblique;
}

.paraAns {
    font-family: Century;
    font-size: 10px;
}

ul.list-group {
    list-style-type: square;
}

h5.description {
    font-size: 44px;

}