// CSS for contact page//

*{
	box-sizing: border-box;
}

body {
	background: #fff;
	color: #485e74;
	line-height: 1.6;
	font-family: 'Segoe UI', sans-serif;
}

.container-contact {
	max-width:1080px;
	margin-left:15px;
	margin-right:15px;
}

h3 ul {
	list-style: none;
	padding:0;
}

.brand{
	text-align: center;
}

.brand span{
	color: #fff;
}

.wrapper{
	box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
}

.wrapper > *{
	padding:1em;
}
imf.company-info {
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 400px;
    height: 400px;
    border: 2px dashed #333;
}

.company-info h3, .company-info ul{
	text-align: center;
	margin: 0 0 1rem 0;
    background-image: url("");
    background-color: #cccccc;
}

.contact {
	background: #f9feff;


//form style//
.contact form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

.contact form label {
	display: block;
}

.contact form p{
	margin: 0;
}

.contact form .full{
	grid-column: 1/3;
}

.contact form button, .contact form input, .contact form textarea{
	width: 100%;
	border: 1px solid #c9e6ff;
}

.contact form button{
	background: #c9e6ff;
	border: 0;
	text-transform: uppercase;
}

.contact form button:hover, .contact form button:focus{
	background: #92bde7;
	color: #fff;
	outline: 0;
	transition: background-color 2s ease-out;
}

/* large screens */
@media(min-width:700px){
	.wrapper{
		display: grid;
		grid-template-columns: 1fr 2fr;
	}
}

.wrapper > *{
	padding: 2em;
}

.company-info h3, .company-info ul{
	text-align: left;
}
















