﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - USACE</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><img src="~/images/logo.png" width="30" height="25" /></a>
                    </li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Bid">How to Bid</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Map">Regional Map</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="FAQs">FAQs</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <div class="container footerkolagi">
        <footer class="page-footer font-small nacolor">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 margin-btm20">
                        <div class="footer-column">
                            <h3>About us</h3>
                            <p class="margin-btm20">
                                The Oklahoma Bid Assistance Network (OBAN) will lead you through the maze of government procurement. This network, established in 1986 by the Oklahoma Department of Career and Technology Education, trains Oklahoma firms to<a href="About.cshtml">....</a>
                            </p>
                        </div><!--footer columns end-->
                    </div>
                    <div class="col-md-4 margin-btm20">
                        <div class="footer-column">
                            <h3>Latest Government Contracts</h3>
                            <ul class="list-unstyled post-list">
                                <li><a href="#" class="hover-color">Contract 1</a>This contract is about...</li>
                                <li><a href="#" class="hover-color">Contract 2</a>This contract is about...</li>
                                <li><a href="#" class="hover-color">Contract 3</a>This contract is about...</li>
                                <li><a href="#" class="hover-color">Contract 4</a>This contract is about...</li>
                                <li><a href="#" class="hover-color">Contract 5</a>This contract is about...</li>
                            </ul>
                        </div><!--footer columns end-->
                    </div>

                    <div class="col-md-4 margin-btm20">
                        <div class="footer-column">
                            <h3>Get in Touch</h3>
                            <ul class="list-unstyled contact-list margin-btm20">
                                <li><i class="ion-home"></i> 123 Bradley St, Oklahoma City<br />Oklahoma,73096</li>
                                <li><i class="ion-ios7-telephone"></i> <strong>Phone:</strong> +1 1234567890</li>
                                <li><i class="ion-ios7-email"></i> <strong>Email:</strong> mail@domain.com</li>
                                <li><i class="ion-ios7-world"></i> <strong>Website:</strong> http://www.USACEBidAssist.com</li>
                            </ul>

                        </div><!--footer columns end-->
                    </div>
                </div><!--row end -->
                <div class="text-center">
                    <ul class="list-unstyled list-inline social">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-google-plus-g"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </ul>
                </div>
            </div><!--container-->
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">
                © 2019 Copyright:
                <a href="https://usacebidassist.com"> USACE Bid Assist</a>
            </div>
            <!-- Copyright -->
        </footer>
        </div>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>

    </environment>
    

    @RenderSection("Scripts", required: false)
</body>
</html>
