﻿@{
    ViewData["Title"] = "About";
}

<div class="container"
    <p><strong>USACE Bid Assist</strong> </p>
    <p><strong>Oklahoma Bid Assistance Network</strong> <br /> </p>         <p><strong>Oklahoma’s Statewide Procurement Technical Assistance Center (PTAC)</strong>  </p>
    <p>
        The Oklahoma Bid Assistance Network (OBAN) will lead you through the maze of government procurement. This network, established in 1986 by the Oklahoma Department of Career and Technology Education, trains Oklahoma firms to successfully compete for and perform government contracts. Services are delivered from 16 Technology Centers across the state.
        Local Bid Assistance personnel/PTAC Counselors will assist you in locating bidding and subcontracting opportunities in manufacturing, construction, services, and research and development. They will help you develop approved quality assurance and inspection systems. The Network provides assistance in locating and obtaining federal and military specifications and standards, acquisitions regulations, and other technical information cited in bid solicitations.
        Protect yourself from missing valuable opportunities. OBAN provides detailed information on the goods and services that government agencies are buying today and provides rapid access to valuable research information, including information on previous buying trends. Call your nearest local Bid Assistance Center today for
        more information. http://www.okbid.org
    </p><br />
    <p><strong>Procurement Technical Assistance Program (PTAP)</strong></p>
    <p>
        Ninety-four Procurement Technical Assistance Centers (PTACs) – with over 300 local offices – form a nationwide network of dedicated procurement professionals working to help local businesses compete successfully in the government marketplace.   PTACs are the bridge between buyer and supplier, bringing to bear their knowledge of both government contracting and the capabilities of contractors to maximize fast, reliable service to our government with better quality and at lower costs.
        The Procurement Technical Assistance Program (PTAP) was authorized by Congress in 1985 in an effort to expand the number of businesses capable of participating in the government marketplace. Administered by the Department of Defense, Defense Logistics Agency (DLA), the program provides matching funds through cooperative agreements with state and local governments and non-profit organizations for the establishment of Procurement Technical Assistance Centers (PTACs) to provide procurement assistance.
        PTACs come in many different sizes and shapes, reflecting the needs, priorities and resources of the areas they serve. Some PTACs are administered directly by state governments; others partner with universities, community colleges, local economic development corporations or other local institutions. Some PTACs operate within Bureau of Indian Affairs areas exclusively serving Native American owned businesses. Many are affiliated in some way with Small Business Development Centers and other small business programs. All PTACs are staffed with counselors experienced in government contracting and provide a wide range of services including classes and seminars, individual counseling and easy access to bid opportunities, contract specifications, procurement histories, and other information necessary to successfully compete for government contracts.
        Many PTAC counselors have backgrounds in government acquisitions and virtually all receive ongoing training to keep pace with continually evolving acquisitions procedures and policies. The Association of Procurement Technical Assistance Centers (APTAC) provides a network that allows any PTAC counselor almost instant access to the expertise and experience of over 500 colleagues, as well as real-time information from government agencies regarding new requirements and initiatives.
    </p>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
