﻿
@{
    ViewData["Title"] = "Bid";
}

<div class="container-fluid col-lg-12 col-md-6 col-sm-4">
    <div class="column-slides">
        <img src="~/images/Capture1.png" class="img-fluid" alt="Responsive image">
    </div>

    <div class="column-slides">
        <img src="~/images/Capture2.png" class="img-fluid" alt="Responsive image">
    </div>

    <div class="column-slides">
        <img src="~/images/Capture3.png" class="img-fluid" alt="Responsive image">
    </div>
    <div class="column-slides">
        <img src="~/images/Capture4.png" class="img-fluid" alt="Responsive image">
    </div>

    <div class="column-slides">
        <img src="~/images/Capture5.png" class="img-fluid" alt="Responsive image">
    </div>

    <div class="column-slides">
        <img src="~/images/Capture6.png" class="img-fluid" alt="Responsive image">
    </div>
    <div class="column-slides">
        <img src="~/images/Capture7.png" class="img-fluid" alt="Responsive image">
    </div>

    <div class="column-slides">
        <img src="~/images/Capture8.png" class="img-fluid" alt="Responsive image">
    </div>

    <div class="column-slides">
        <img src="~/images/Capture9.png" class="img-fluid" alt="Responsive image">
    </div>
    <div class="column-slides">
        <img src="~/images/Capture10.png" class="img-fluid" alt="Responsive image">
    </div>

    <div class="column-slides">
        <img src="~/images/Capture11.png" class="img-fluid" alt="Responsive image">
    </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>