﻿@{
    ViewData["Title"] = "Contact";
}

<body id="contact-page">
    <div class="containter-contact">
        <div class="wrapper animated bounceInLeft">
            <div class="company-info">
                <h3>USACE Bid Assit</h3>
                <ul>
                    <li><i class="fa fa-road"></i>44 somewhere st </li>
                    <li><i class="fa fa-phone"></i>(555) 555-5555</li>
                    <li><i class="fa fa-envelope"></i>xyz@example.com</li>
                </ul>
            </div>
            <div class="contact">
                <h3>Leave a Message </h3>
                <form>
                    <p>
                        <label>Name</label>
                        <input type="text" name="name">
                    </p>
                    <p>
                        <label>Email Address</label>
                        <input type="text" name="email">
                    </p>
                    <p>
                        <label class="full">Message</label>
                        <textarea name="message" rows="5"></textarea>
                    </p>
                    <p>
                        <button class="full">Submit</button>
                    </p>
                </form>

            </div>
        </div>
    </div>
</body>

<link href="~/css/stylecontact.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>