﻿@{
    ViewData["Title"] = "FAQs";
}
<div id="page-container">
    <div class="jumbotron">
        <h5 class="description text-center">Frequently Asked Questions</h5>
        <ul class="list-group">
            <li class="paraQues">Is it necessary to obtain a DUNS number? </li>
            <p class="paraAns">Yes, it is necessary to obtain a DUNS number. It is available freely and you can get registered in SAM.gov once you obtain a DUNS number.</p>
            <li class="paraQues">Where can I find a link to get a DUNS number?</li>
            <p class="paraAns">You will need to visit the website (www.dnb.com) and scroll directly to the bottom-left. We suggest you go through the website carefully before registering for the DUNS number.</p>
            <li class="paraQues">In how much time will I receive a DUNS number?</li>
            <p class="paraAns">
                You will get one almost instantly either by mail or message. In case you fail to receive one in 48 hours, you will need to consult the
                contact on the website.
            </p>
            <li class="paraQues">How can I have a fast SAM registration process?</li>
            <p class="paraAns">
                You need to keep all your information ready such as your DUNS, TIN etc. and an uninterrupted internet. Use the same
                details in both DUNS and SAM registration.
            </p>
            <li class="paraQues">Is both SAM and DUNS registration necessary to be able to bid for the government contract?</li>
            <p class="paraAns">Yes, both the registrations are necessary.</p>
            <li class="paraQues">Do I need to renew the old registration?</li>
            <p class="paraAns">Yes, you do need an yearly renewal.</p>
            <li class="paraQues">How often do I need to update my profile information?</li>
            <p class="paraAns">You need to update your new details in all the required database such as DUNS, Bradstreet, CAGE before updating the information in SAM.</p>
            <li class="paraQues">Is there any kind of assistance for registration and updates?</li>
            <p class="paraAns">
                Yes, go through the video in the below link for registering in Sam.gov: <br />
                <iframe width="20%" height="20%" src="https://www.youtube.com/watch?v=9VPGVYPvch4"></iframe>
            </p>
            <li class="paraQues">What should the quote not have?</li>
            <p class="paraAns">
                The quote should have no cross outs or strike through marks. Submit a legible quote with no correction marks or your quote will not
                be considered valid.
            </p>
            <li class="paraQues">Is it possible to submit the quote after the deadline?</li>
            <p class="paraAns">No, the quote submitted after the deadline will not be accepted.</p>
            <li class="paraQues">What are the modes of submitting a quote?</li>
            <p class="paraAns">
                Email is the preferred way but you may mail, fax, or hand deliver. Please, do not staple the mailed and hand delivered
                quote. The emailed quote should be either in a PDF or MS-Office format.
            </p>

        </ul>
    </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>