﻿@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ul class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/photo1.jpg" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    U.S. Army Corps of Engineers (USACE)
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/photo2.jpg" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    We are here to guide you through the bidding process for all government contracts.  <br />
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                        Learn more..
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/photo3.jpg" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    <a class="btn btn-default" href="Conctact.cshtml">
                        Contact Us
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!-- jumbotron -->
<div class="container-fluid">
    <div class="row jumbotron">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
            <p class="lead">
                Welcome to the U.S. Army Corps of Engineers (USACE) bid assist website. We are
                here to guide you through the bidding process for all government contracts.
            </p>
        </div>
    </div>
</div>

<!-- welcome section -->
<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">How To Bid </h1>
        </div>
        <hr>
        <div class="col-12">
            <p class="lead"> Welcome to USACE Bid Assist website. This site will help you through the bidding process on government contracts. </p>
        </div>
    </div>
</div>

<div class="container-fluid padding">
    <div class="row text-center padding">
        <div class="col-xs-12 col-sm-4 col-md-4">
            <a class="logo-link" href="https://www.dnb.com"> <img class="logo" src="~/images/dnblogo.jpg"> </a>
            <p> Get your DUNS number. </p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
            <a class="logo-link" href="https://www.sam.gov"><img class="logo" src="~/images/samlogo.jpg"></a>
            <p>Follow through the sam.gov process. </p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
            <a class="logo-link" href="https://www.fbo.gov"><img class="logo" src="~/images/fbologo.jpg"></a>
            <p> Follow through the fbo.gov process. </p>
        </div>
    </div>
    <hr class="my-4">
</div>

<!-- column section -->
<div class="container-fluid padding">
    <div class="row text-center padding">
        <div class="col-lg-12">
            <h2>
                Email notifications for updates to website and new contract advertisements.
            </h2>
            <p> Please insert your email below to receive updates and notifications about job openings across your areas.</p>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="well">
                        <form action="#">
                            <div class="input-group col-lg-12">
                                <input class="btn btn-lg" name="email" id="email" type="email" placeholder="Your Email" required>
                                <button class="btn btn-info btn-lg" type="submit">Subscribe</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>