﻿
@{
    ViewData["Title"] = "Map";
}

<div class="container-fluid">
    <div class="img-responsive">
        <img src="~/images/lake1.jpg" class="lake" />
    </div>
    <div id="mapofdivision" class="carousel-caption">
        <h2>Maps of Division</h2>
    </div>
</div>


<div class="container">
    <p><strong>Following are the different divisions governed by the US Corps. of Engineers.</strong> </p>
    <div class="divsion">
        <ul id="list">
            <li class="map-link">
                <a href="#">South Atlantic</a>
                <br>
                <img src="~/images/SAD.svg" class="division-map">
                <p> South Atlantic Division includes district locations in Mobile, Jacksonville, Savannah, Charleston and Wilmington. This division also includes a division location in Atlanta, Georgia. </p>
            </li>
            <li class="map-link">
                <a href="#">Mississippi</a>
                <br>
                <img src="~/images/MVD.svg" class="division-map">
                <p> Mississippi Valley Division includes district locations in St. Paul, Rock Island, St. Louis and New Orleans. It also has a district and division co-location in Vicksburg, Mississippi. </p>
            </li>
            <li class="map-link">
                <a href="#">North Atlantic</a>
                <br>
                <img src="~/images/NAD.svg" class="division-map">
                <p> North Atlantic Division includes district locations in Concord, Philadelphia, Baltimore and Norfolk. This division includes two district and division co-locations in New York and Winchester. </p>
            </li>
            <li class="map-link">
                <a href="#">South Pacific</a>
                <br>
                <img src="~/images/SPD.svg" class="division-map">
                <p> South Pacific Division includes district locations in Albuquerque, Los Angeles and Sacramento. It also includes a district and division co-location of San Francisco, California. </p>
            </li>
            <li class="map-link">
                <a href="#">Northwestern</a>
                <br>
                <img src="~/images/NWD.svg" class="division-map">
                <p> Northwestern Division includes district locations in Seattle, Omaha and Kansas City. This division includes a district and division co-location in Portland, Oregon. </p>
            </li>
            <li class="map-link">
                <a href="#">Southwestern</a>
                <br>
                <img src="~/images/SAD.svg" class="division-map">
                <p> Southwestern Division includes district locations in Little Rock, Tulsa and Fort Worth. It also includes a district location in Dallas, Texas. </p>
            </li>
            <li class="map-link">
                <a href="#">Pacific</a>
                <br>
                <img src="~/images/POD.svg" class="division-map">
                <p> Pacific Ocean Division includes Alaska, Korea and Japan. This division also includes a division and district co-location in Honolulu, Hawaii. </p>
            </li>
            <li class="map-link">
                <a href="#">Great Lakes</a>
                <br>
                <img src="~/images/ORD.svg" class="division-map">
                <p> Great Lakes & Ohio River Division includes district locations in Buffalo, Detroit, Chicago, Pittsburgh, Huntington, Louisville, Nashville and Memphis. This division also includes a division location in Cincinnati, Ohio. </p>
            </li>
        </ul>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>